
<div class="dfContainer " [style.backgroundImage]="'url(' + tmdbservice.getPosterFilm(film.bkimg) + ')'"
     style="background-size: cover; ">
    
  <div class="row movie-container glass-effect">
    <div class="col-md-4 offset-md-1">
      <h2>Detail Film</h2>
      <img [src]="tmdbservice.getPosterFilm(film.imageURL)" class="img-fluid movie-poster" alt="Movie Poster">

    </div>

    <div class="col-md-6 description mt-5">
      <h5>Description</h5>
      <p class="card-text overview-text">{{ film.description }}</p>
      <p>Date de publication: {{film.publishDate}}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary add-to-favorites-btn mt-3" (click)="toggleFavorite()">
          <i class="fas fa-heart"></i> Add to Favorites
        </button>
        <button class="btn btn-info mt-3 mx-2" > 
          <i class="fas fa-comment"></i> Add Comment
        </button>
        <button class="btn btn-danger mt-3" (click)="deleteMovie()">
          <i class="fas fa-trash"></i> Remove from Favorites
        </button>
      </div>
      <div *ngFor="let comment of comments" class="mt-3">
         <p>{{ comment.auteur }}</p>
        <p>{{ comment.contenu }}</p> 
      </div>
      
      <form (submit)="addComment()">
        <textarea [(ngModel)]="desc" placeholder="Your Comment" class="mt-3"></textarea>
        <button type="submit">Add Comment</button>
      </form>
     

    </div>
    
    
</div>