<div class="sp">
    <div class="saisi container">
      <form  [formGroup]="signInForm" (ngSubmit)="onSubmit()" >
        <div class="row">
          <p>Sign-in</p>
          <div class="ph col-md-4 d-flex justify-content-center">
            <img class="col-md-12 mb-5 spImg" src="assets/MN.png" alt="image" />
          </div>
          <div class="formulaire col-md-8">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control mb-3" id="email" placeholder="email@gmail.com" formControlName="email" />
  
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control mb-3" id="pwd" placeholder="P@ssw0rd" formControlName="password" />
  
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mb-4">Sign-in</button>
            </div>
            <div class="d-flex justify-content-center">
              <a class="text-decoration-none ml-5" routerLink="SignUp" >Don't have an account?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
  